node_modules/
.next/
.env
.env.local
storage/
/lib/generated/prisma
*.mp4
*.mp3
*.wav
*.zip
prisma/dev.db
public/**/*.ttf
.vercel
.env*

# local utility scripts
add-password-column.js
check-user.js
gen-hash.js
set-password.js
